@use './styles/colors.scss';

@use './styles/mixins.scss';

* {
    transition: all 300ms;
}

nav {
    position: relative;

    .navtoggle {
        background-color: colors.$main-light;
        border-color: colors.$main-dark;
        width: 5em;
        height: 5em;
        border-radius: 0.5em;
        border-style: solid;
        position: relative;

        &:hover {
            box-shadow: 0 0 0 0.15em colors.$main-dark;
        }

        .hamburger {
            width: 3em;
            height: 0.3em;
            background: colors.$main-dark;
            display: inline-block;
            position: relative;
            border-radius: 0.5em;


            &::before {
                @extend .hamburger;
                @include mixins.hamburgers;
                bottom: 0.75em;

            }

            &::after {
                @extend .hamburger;
                @include mixins.hamburgers;
                top: 0.8em;
            }
        }
    }

    .navlinks {
        display: none;
    }
}

.clicked {
    .hamburger {
        transform: rotate(45deg);

        &::before {
            bottom: 0 !important;
        }

        &::after {
            transform: rotate(-90deg);
            top: 0 !important;
        }
    }
}
