@use './styles/colors.scss';

@use './styles/mixins.scss';

@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400;500;600;700&display=swap);

* {
    transition: all 300ms;
    text-align: center;
    font-family: 'Fira Code', monospace;
}

body {
    background: antiquewhite;
    transition: none;
}

nav {
    position: relative;
    z-index: 100;

    .navtoggle {
        background-color: colors.$main-light;
        border-color: colors.$main-dark;
        width: 5em;
        height: 5em;
        border-radius: 0.5em;
        border-style: solid;
        position: absolute;
        right: 2em;
        top: 1em;


        &:hover {
            box-shadow: 0 0 0 0.15em colors.$main-dark;
        }

        .hamburger {
            width: 3em;
            height: 0.3em;
            background: colors.$main-dark;
            display: inline-block;
            position: relative;
            border-radius: 0.5em;

            &::before {
                @extend .hamburger;
                @include mixins.hamburgers;
                bottom: 0.75em;
            }

            &::after {
                @extend .hamburger;
                @include mixins.hamburgers;
                top: 0.8em;
            }
        }
    }

    .clicked {
        .hamburger {
            transform: rotate(45deg);

            &::before {
                bottom: 0 !important;
            }

            &::after {
                transform: rotate(-90deg);
                top: 0 !important;
            }
        }
    }

    .navlinks {
        background-color: #000000d6;
        width: 35em;
        height: 50em;
        border-radius: 50em 0 50em 50em;
        position: absolute;
        right: 5.55em;
        top: 4.8em;
        box-shadow: inset 0 0 0 2em #00000085, inset 0 0 0 4em #00000033,
            inset 0 0 0 7em #0000002e;
        transform: scale(0);
        transform-origin: top right;

        .navlink-container {
            position: absolute;
            top: 14%;
            left: 20%;
            display: flex;
            flex-direction: column;
            width: 60%;
            height: 71%;
            border-radius: 50em 0 50em 50em;
            overflow: hidden;
            align-items: center;
            justify-content: space-evenly;

            .navlink {
                width: 60%;
                padding: 2em;
                margin: -4em;
                background-color: rgb(135 135 135 / 3%);
                color: colors.$main-light;
                border-radius: 50em 0 50em 50em;
                font-size: large;
                font-weight: bolder;
                text-decoration: none;

                &:hover {
                    background-color: colors.$main-light;
                    color: colors.$main-dark;
                    box-shadow: inset;
                }
            }
        }
    }

    .visible {
        display: block !important;
        animation: reveal 450ms forwards;
    }

    .hidden {
        display: block !important;
        animation: hide 450ms forwards;
    }

    .invisible {
        display: none !important;
    }
}

%position-texts {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-shadow: 0 0 2px;
}

h1 {
    @extend %position-texts;
    top: 45%;
    transition: none;
}

footer {
    @extend %position-texts;
    bottom: 0 !important;
    transition: none;
}

// Animations

@keyframes reveal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hide {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
