@use './styles/variables.scss';
@use './styles/extends.scss';
nav {
  position: relative;

  .navtoggle {
    background-color: variables.$color-main-light;
    width: 5em;
    height: 5em;
    border-radius: 0.5em;
    border-style: solid;

    .hamburger {
      @extend %hamburgers;
      &::before {
        @extend %hamburgers;
      }
      &::after {
        @extend %hamburgers;
      }
    }
  }
}
